@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'map.css';
@import 'placescreen.css';
@import 'sidebar.css';
@import 'ui-elements.css';

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@define-mixin test {
  color: red !important;
	background: red !important;
}

.iwThumbnail {
	height: 30%;
	width: 30%;
}

.collapsible-container__trigger {
	cursor: pointer;
	display: block;
	height: 100%;
	padding: 5px 15px;
}

.collapsible-container__contentInner {
	padding: 5px 15px;
	color: gray;
}
