.placescreen {
	position: absolute;
	width: 100%;
	height: 100%;
	float: left;
	background: #e2ecff;
	z-index: 2;
	padding: 1%;

}

#placescreen-btn-close {
	float: right;
	cursor: pointer;
	font-size: 2em;
	margin-right: 0.5%;
}

.placescreen-img {
	height: 40%;
	width: 40%;
	overflow: hidden;
}

.placescreen-desc {
	white-space: pre-line;
}
