:root {
  --color-primary: #5060a0;
}

.btn {
	padding: 4px 8px;
	display: inline-block;
	cursor: pointer;
	border-radius: 20px;
	font-size: 0.8em;
}

.btn-primary {
	background: var(--color-primary);
	color: #fff;
	&:hover {
		background: #666;
	}
}

.search-input {
	background: none;
	border: none;
}

.search-button {
	display: none;
}
