.places-place {
	list-style: none;
}

.places-place:hover {
	background-color: yellow;
}

.places-place-manualHover {
	background-color: yellow;
}

.places-place-selected {
	background-color: orange;
}